{% extends "base.html.twig" %}

{% block title %}Actors by program{% endblock %}
{% block body %}
        <h2>{{ actor.name }}</h2>
        <ul>
            A joué dans :
            {% for program in actor.programs %}
                <li><a href="{{ path("program_show", {id: program.id}) }}">{{ program.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('actor_index') }}">Retour a la liste des acteurs</a>
{% endblock %}